*{
  box-sizing: border-box;
  width: 100%;
  margin-left: 0;
}
.nav-container{
  height:10vh;
  width:65vw;
  margin-left:auto;
  margin-right: auto;
  margin-bottom:0;
  padding-bottom:0;
}
.nav-container ul{
  list-style: none;
  display:flex;
  justify-content: space-around;
}
.nav-container ul a{
  text-decoration: none;
  text-align: center;
}
.nav-container ul a li span{
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 1vw;
  font-weight: 600;
  text-align: center;
  width: 10vw;
  min-width: 81.5px;
  margin-left:auto;
  margin-right:auto;
  display:inline-block;
}
.links{





}
.link-line-home{
  width:35px;
    margin:0 auto;
    background-color:black;
    height:2px;
    border:0;

}
.link-line-contact{
  width:38px;
    margin:0 auto;
    background-color:black;
    height:2px;
    border:0;

}
.link-line-gallery{
  width:38px;
    margin:0 auto;
    background-color:black;
    height:2px;
    border:0;

}
.link-line-services{
  width:64px;
    margin:0 auto;
    background-color:black;
    height:2px;
    border:0;

}
.link-line-about{
  width:33px;
    margin:0 auto;
    background-color:black;
    height:2px;
    border:0;

}
.display-none{
  display:none;
}

.hero-image{
  /*margin-top:29px;*/
  /*border:1px solid black;*/
  width:65vw;
  height:25vw;
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
  background-image: url('img/17098570_258017771318143_5889089740909049374_n(1).jpeg');
  background-size:100% 100%;
  border:.25vw solid black;
}
.logo{
  width:12vw;
  height:12vw;
  /*position:absolute;*/
  margin-left: 3vw;

  background-image:url('img/HMNB003-01.PNG');
  background-size:100% 100%;
  /*background-position:0 -2vw;*/
}
.appointment{
  position:absolute;
  font-family:"Open Sans", sans-serif;
  font-size: 1vw;
  width:11vw;
  left:1vw;
  top:1.5vw;
}
.motto1{
  position:absolute;
  width:10vw;
  font-size:1.75vw;
  left:35vw;
  top:5vw;
  font-family: "Brush Script Std", "Brush Script MT", cursive;
}
.motto2{
  position:absolute;
  width:10vw;
  font-size:1.75vw;
  left:59vw;
  top:5vw;
  font-family: "Brush Script Std", "Brush Script MT", cursive;
}
.home-content-container{
  height:30vw;
  width:75vw;
  margin-left:auto;
  margin-right:auto;
  font-size:0px;

}
.info-block{
  width: 35vw;
  font-size: 0px;
  display:inline-block;
  background-color:black;
  height:30vw;
}
.info-block p{
  font-size:10px;
  color:white;
  font-family:"Open Sans", sans-serif;
  padding-top:0;
  padding-bottom:0;
  margin-top:0;
  margin-bottom:0;
  margin-right:0;
  margin-left:0;
  text-align: right;
  padding-right:5vw;

}
.info-block h2{
  padding-right:5vw;
  text-align: right;
  color:white;
  font-family:"Open Sans", sans-serif;
  font-size:12px;
}
.welcome-block{
  display:inline-block;

  width:45vw;
  height:3vw;
  margin-left:0;
  margin-right:0;
  float:right;

}
.contact-info{
  margin-top:8vw;
}
.welcome-block p{
  font-size:10px;
  width:40vw;
  font-family:"Open Sans", sans-serif;
  padding-top:0;
  padding-bottom:0;
  margin-top:0;
  margin-bottom:1vw;
  margin-right:0;
  margin-left:0;
  text-align: left;
  padding-left:5vw;

}
.welcome-block li{
  font-size:10px;
  width:30vw;
  font-family:"Open Sans", sans-serif;
  padding-top:0;
  padding-bottom:0;
  margin-top:0;
  margin-bottom:0;
  margin-right:0;
  margin-left:0;
  text-align: left;

}
.welcome-block ul{
  padding-left:10vw;

}
.welcome-block h1{
  padding-left:5vw;
  text-align: left;
  margin-top:1vw;
  font-family:"Open Sans", sans-serif;
  font-size:25px;
}
.facebook-icon{
  height:3vw;
  width:3vw;
  background-color:white;
  border-radius:10%;

  margin:3vw auto;
  background-image:url('img/fb-icon.png');
  background-size:100% 100%;
}
.yelp-icon{
  height:3vw;
  width:3vw;
  background-color:white;
  border-radius:10%;

  margin:3vw auto;
  background-image:url('img/yelp-icon.png');
  background-size:125% 125%;
  background-repeat: no-repeat;
  background-position: -.30vw -.22vw;
}
.display-line{
  display:block;
}
.gallery-top{
  width:87vw;
  height:15vw;
  background-color:black;
  margin:0 auto;
  display:grid;
}


.photo-header{
  text-align:center;
  /*padding-top:5.2vw;*/
  color:white;
  width:100%;
  margin:0 0;
  display:flex;
  justify-content: center;
  align-items: center;

  height: 15vw;

  /*padding-right:27vw;*/
  font-family:"Open Sans", sans-serif;
}
.h2-services{
  margin-left:10vw;
  text-decoration: underline;

}
.h3-services{

}
.p-services{
  margin-left:5vw;
  margin-right:15vw;
  word-wrap:normal;
  width:70vw;
}
.h1-div{
  display:table-cell;
  vertical-align: middle;
  height:50px;
}
.li-services{
  margin-left:10vw;

}
.p-about{
  width:80vw;
  margin-left:10vw;

}
.li-about{
  width:75vw;
  margin-left:15vw;
}
.about-image{
  background-size:100% 100%;
  background-image: url('img/20170617_101306.jpg');
  width:25vw;
  height:25vw;
  float:right;
  margin-top:1vw;
  margin-right:6.5vw;
  margin-left: 2vw;
  background-color:black;

}
.logo-container{
  width:100%;
  display:flex;
  justify-content: center;
}
.circle{
  border-radius: 50%;
  border: .3vw solid black;
  width: 15vw;
  height: 15vw;
  display: inline-block;
  margin-top: 5vw;
}
.circle p{
  font-size:2vw;
  line-height:10vw;
  text-align: center;
  opacity:0.7;
  font-family: "Snell Roundhand", cursive;
  font-family:"Open Sans", sans-serif;
}
.mani_pedi p{

  color:white;
  transform: rotate(-7deg);
}
.circles_row_1{
  display:flex;
  justify-content: space-around;
  width:75vw;
}
.circles_row_2{
  display:flex;
  justify-content: space-around;
  width:75vw;
}
.mani_pedi{
  background-image:url('img/pedi1.jpg');
  background-size:160% 150%;
  background-position: 0vw -2.65vw;
  transform: rotate(7deg)
}
.plaque{
  position : relative;
    width    : 0;
    height   : 0;
    z-index  : 99;
    left:2.5vw;
    border-left   : 7vw solid transparent;
    border-right  : 7vw solid transparent;
    border-bottom : 7vw solid black;
}
.inner-plaque{
  position : relative;
     top      : 7vw;
     left     : 2.75vw;
     width    : 0;
     height   : 0;
     z-index  : 100;

     border-left   : 6.75vw solid transparent;
     border-right  : 6.75vw solid transparent;
     border-bottom : 6.75vw solid white;
}
.hanging{
  width:20vw;
  height:auto;


}
.hanging-square{
  position:relative;
  z-index: 101;
  top:-.25vw;
  left:.5vw;
  width:18.5vw;
  height:22vw;
  border:.25vw solid black;
  background-color:rgba(0,0,0,0.77);
}
.hanging-square h3{
  font-size: 1.5vw;
  text-align: center;
  color:white;
  text-decoration: underline;
  font-family:"Open Sans", sans-serif;
}
.hanging-square p{
  font-size: 1.25vw;
  padding-left: 1.5vw;
  color:white;
  font-family:"Open Sans", sans-serif;
}
.nail{
  width:.5vw;
  height:.5vw;
  position:relative;
  border-radius: 50%;
  background-color:black;
  top:7vw;
  left:9.24vw;
}
.hangings{
  display:flex;
  justify-content: space-between;
  width:80vw;
  padding-top:10vw;
  margin:0 auto;
  padding-left:1.5vw;
}
.footer{
  width:80vw;
  height:20vw;
  border:.25vw solid black;
  margin:5vw auto;
  background-color:rgba(0,0,0,0.77);
}
